## **Lists**

In [7]:
num = [1, 22, 56, 5 , 67, 8]
print('Numbers', num)

#Sum of the Num
print('Sum:', sum(num))
#Finding the Min Num
print('Min:', min(num))
#Finding the Max Num
print('Max:', max(num))


#Add a new element
num.append(50)
#Removing an existing element
num.remove(5)

#Updated List
print('Updated List:', num)

#Sorting list in ascending and descending order
print('Ascending',sorted(num))
print('Descending',sorted(num, reverse=True))

Numbers [1, 22, 56, 5, 67, 8]
Sum: 159
Min: 1
Max: 67
Updated List: [1, 22, 56, 67, 8, 50]
Ascending [1, 8, 22, 50, 56, 67]
Descending [67, 56, 50, 22, 8, 1]

# **Tuples**

In [20]:
#Create 5 strings
fruits = ('Apple', 'Mango', 'Banana')
names = ('Asif', 'Yawar', 'ali')
marks = (99, 98, 100)
colors = ('red', 'blue')
age = (24, 25, 24)
hats = ('cap')
print('Second element', fruits[1])
print('Third element', names[2])
print('First element', marks[2])
print('Second element', colors[1])
print('Third element', age[2])
print(hats)




#Convert tuple to Lists
fruits_list = list(fruits)
fruit_list = 'orange'
print('Modified fruit_list', fruits_list)

Second element Mango
Third element ali
First element 100
Second element blue
Third element 24
cap
Modified fruit_list ['Apple', 'Mango', 'Banana']

# **Sets**

In [21]:
#create sets
set_a = {1, 2 , 23,  44, 86}
set_b = {5, 8 , 9 , 6, 5}

#union, Intersection, Difference
print('Union',set_a | set_b)
print('Intersection',set_a & set_b)
print('Difference', set_a / set_b)

Union {1, 2, 5, 6, 8, 9, 44, 86, 23}
Intersection set()

TypeError: unsupported operand type(s) for /: 'set' and 'set'

# **Dictionaries**

In [24]:
#create a dictionary
std_info= {
    'name': 'asif nawaz khan',
    'Section' : 'C',
    'Semester' : '6th'
}

#change
std_info['section'] = 'A'

for key,value in std_info.items():
  print(f'{key} : {value}')

name : asif nawaz khan
Section : C
Semester : 6th
section : A

# **Numpy**

# **Matlib**